<form class="form-inline">

  <div class="form-group">
    <label for="exampleInputName2">手机号码：</label>
    <input type="tel" class="form-control" id="tele" >
  </div>
  <div class="form-group">
    <label for="exampleInputName2">开始日期：</label>
    <input type="date" class="form-control" id="exampleInputName2" >
  </div>
  <div class="form-group">
    <label for="exampleInputEmail2">结束日期</label>
    <input type="date" class="form-control" id="exampleInputEmail2">
  </div>

  <button type="submit" class="btn btn-default">查询</button>

</form>
