<div id="mainFrame">
  <header>
    <div style="margin-top: 0.1em">盐城联通</div>
  </header>
  <div class="menu-bar">
    <hc-menu-bar></hc-menu-bar>
  </div>
  <div class="main">
    <!--<nav class="nav-menu" *ngIf="menuShow">-->
    <!--&lt;!&ndash;<hc-menu-pad></hc-menu-pad>&ndash;&gt;-->
    <!--<router-outlet name="menu"></router-outlet>-->
    <!--</nav>-->
    <!--<div class="nav-menu-toggle" (click)="menuToggle()">-->
    <!--<div [class.triangle-left]="menuShow" [class.triangle-right]="!menuShow"></div>-->
    <!--</div>-->
    <main class="content">
      <div class="frame-let">
        <router-outlet></router-outlet>
      </div>
    </main>
    <!--<aside class="ads" *ngIf="adsShow">ads</aside>-->
    <!--<aside class="ads" *ngIf="true">-->
    <!--<router-outlet name="ads"></router-outlet>-->
    <!--</aside>-->
  </div>
  <footer>
    <div style="margin-right: 3em">互联网部 at 2017-01-12</div>
  </footer>
  <div class="content-section implementation">
    <!--<p-messages [value]="msgs" [style]="'{width: 20em;}'"></p-messages>-->
    <p-growl [value]="gc.msgs"></p-growl>
  </div>
</div>
<!--<p-dialog header="登录" [(visible)]="display"  modal="true" width="400" resizable="false"  closable="true" draggable="false" >-->
<!--<http-client-loginUserAdmin></http-client-loginUserAdmin>-->
<!--&lt;!&ndash;需要 font-awesone 支持&ndash;&gt;-->
<!--</p-dialog>-->


