.search-result{
  /*border-bottom: 1px solid gray;*/
  /*border-left: 1px solid gray;*/
  /*border-right: 1px solid gray;*/
  width:195px;
  /*position: absolute;*/
  /*top: 1px;*/
  /*left: 1px;*/
  /*height: 1.2em;*/
  /*padding: 0.3em;*/
  /*margin: 0.3em;*/
  /*background-color: white;*/
  /*cursor: pointer;*/
}
#search-result-list{
  position: absolute;
  top: 11em;
  left: 6em;
  z-index: 100;
}
.search-result:hover {
  color: #eee;
  background-color: #607D8B;
}

#search-box{
  width: 200px;
  height: 2em;
}

/*#search-out-box{*/
  /*position: absolute;*/
  /*left: 8em;*/
  /*z-index: 100;*/
/*}*/
